* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    margin: 0 1.5rem;
}

img {
    max-width: 100%;    
}

nav {
    padding: 1rem 1.5rem;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, .15), 
    1px 1px 18px rgba(0, 0, 0, .15); 
    display: flex;
    align-items: center
}
.logo {
    width: 60px
}

.img__container {
    margin: 1.5rem auto;
    width: 80%;
}

.description {
    color: #222222;
    width: 330px;
}