* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    margin: 0 1.5rem;
}

img {
    max-width: 100%; 
    border-radius: .3rem;   
}

nav {
    padding: 1rem 1.5rem;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, .15), 
    1px 1px 18px rgba(0, 0, 0, .15); 
    display: flex;
    align-items: center
}
.logo {
    width: 60px
}

.card__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.img__container {
    margin: 1.5rem auto;
    width: 80%;
}

.description {
    color: #222222;
    width: 330px;
    margin-bottom: 4rem;
}

.card__img-container {
    position: relative;
}

.status {
    position: absolute;
    top: .5rem;
    left: .5rem;
    background-color: #fff;
    font-weight: 500;
    padding: .3rem .4rem;
    border-radius: .3rem;
}

.star__holder {
    display: flex;
    align-items: center;
    column-gap: .3rem;
    /* align-content: center; */
}

.bold {
    font-weight: bold;
}

.grey {
    color: #918E9B;
}
